*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family:Helvetica, sans-serif
}

/* debug */
.debug{
    height: 500px;
}

.debug .container{
    border: 2px solid #000;
}
/* debug */


.container{
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

header{
    background-color: #3056f7;
    height: 100px;
    line-height: 100 px;
}

header .row{
    line-height: 100px;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.row #logo{
    width: 15%;
    float: left;
}

#logo img{
    vertical-align: middle  ;
}

/* nav */
header nav{
    float: left;
    width: 70%;
}

header nav ul {
    text-align: center;
}

header nav ul li {
    display: inline-block;
}

header nav a{
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}
/* nav */


/* bottom */
.bottom{
    text-decoration: none;
    display: inline-block;
    color: #000;
    padding: 8px 16px;
    border-radius: 40px;
    background-color: #fff;
}

.bottom.bottom-big{
    padding: 16px 32px;
}

.bottom.bottom-black{
    background-color: #222;
    color: #fff;
}
/* bottom */

#login{
    float: right;
    width: 15% ;
    text-align: right;
}

#login .bottom{
    display: inline;
}

/* section */
#jumbotron{
    background-image: url('img/jumbo.png');
    min-height: 600px;
    background-size: cover;
    background-position: center;
    margin-bottom: 25px ;
    color: #fff;
}

#jumbotron h1{
    padding-top: 100px;
    margin-bottom: 40px;
    font-size: 50px;
}

#jumbotron p{
    font-size: 18px;
    margin-bottom: 30px;
}

#jumbotron .container{
    max-width: 800px;
    text-align: center;
}

.fas{
    margin-right: 10px;
    color: #000;
}
/* section */

/* section 2 */
#jumbo-one .image{
    width: 60%;
    background-image: url('img/item1.svg');
    background-position: center;
    background-size: cover;
    height: 100%;
    border: 2px solid red;
}


/* section 2 */

